body {


  color: white;

 /* min-height: 100vh;*/
  background-color: #757f9a;
  background-image: linear-gradient(147deg, #282c34 0%, #757f9a 100%);
  /*align-items: center;*/
  padding: 120px 0px 85px 0%;
}
/*
.DragDropZone input {
    margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(147deg, #282c34 0%, #757f9a 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;
  padding: 120px 0px 85px 40%;
  text-align: center !important;
  margin: 0;
  width: 100% !important;
}
.DragDropZone input:focus{     
  outline: 2px dashed #92b0b3;  
  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear; 
  border:1px solid #92b0b3;
}*/
.DragDropZone{ position:relative}

.color input{ background-color:#282c34;}
.DragDropZone:before {
  color: #2ea591;
  text-align: center;
}

.inputUpload {
  text-align: center;
  opacity: 0;
}

.uploadLabel{
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.progressUpload {
  margin: 26px 15px;
}
.buttonCopy {
  text-align: center;
  color: white;
  background-color: #282c34;
  border: 2px solid #2ea591;
  font-size: large;
  /*margin: 26px 15px;*/
  padding: 16px 5%;
}
.buttonCopy:hover {
  background-color:#2ea591;
}

a:link {
  color: rgb(230, 230, 3);
  background-color: transparent;
  text-decoration: none;
}


.btnUpload {
  text-align: center;
  color: white;
  background-color: #282c34;
  border: 2px solid #2ea591;
  font-size: large;
  margin: 26px 15px;
  padding: 16px 41.75%;
}
.btnUpload:hover {
  background-color:#2ea591;
}

.btnUpload:disabled {
  opacity: 0;
}

.errorBanner {
  padding: 20px;
  background-color: #004cf0;
  color:#ffff;
  margin-bottom: 15px;
}